/* Generelt*/

body {

  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}

.image > div {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}


/* overordnet grid*/
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr 1fr 0.1fr;
  grid-template-areas:
  "header"
  "main"
  "content"
  "om"
  "kontakt"
  "footer"
}

/*navigation*/

#logo {
  max-width: 25%;
}

header {
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,1);
  position: fixed;
  width: 100%;
  z-index: 3;
  grid-area: header;
}

header ul {
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;

}


header ul a {
  color:white;
  font-size: 20px;
  display:block;
  padding: 20px;
  padding-left: 30px;
  text-decoration: none;
}

header ul a:hover {
  color:#006165;
  font-size: 25px;
  cursor: pointer;
  transition: 0.6s;
}

  header #logo {
    float:left;
    display: block;
    padding-left: 20px;
    padding-top:10px;
  }

  header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    }

  header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float:right;
    cursor:pointer;
}

header .menu-icon .nav-icon {
  background: white;
  display: block;
  height: 1px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before {
  background: white;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition:all .2 ease-out;
  top:5px;
}
header .menu-icon .nav-icon:after {
  background: white;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition:all .2s ease-out;
  top:-5px;
}


header .menu-btn {
  display:none;
}

header .menu-btn:checked ~ .menu {
  max-height:240px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon {
background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:before {
   transform:rotate(-45deg);
   top:0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform:rotate(45deg);
  top:0;

}

/*Landingpage*/
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: url("../billeder/fototilmobil.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position:right bottom;
  background-color: black;
  grid-area: main;
}
main > .landing-text {
  padding-top: 200px;
}

.landing-text > h1 {
  padding-bottom: 5px;
}

.landing-text {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h6 {
  font-size: 15px;
}

.button {
  text-align: center;
}

#btn {
  font-size: 10px;
  width: 150px;
  color:white;
  background-color: #282824;
  border: none;
  padding: 10px;
  margin: 0 auto;
  cursor:pointer;
  transition: 0.6s;

}

#btn:hover {
background-color: #006165;
font-size: 12px;
}

/*indhold*/

.content {
  background-color: #282824;
  background-attachment: fixed;
  grid-area: content;
}

h2 {
  margin-left: 10%;
  margin-top: 30px;
}
/*image grid*/
.image {
    height: 100%;
    display: grid;
    margin:10%;
    gap: 25px;
    align-items: center;
    grid-template-columns: 1fr);
    grid-template-areas: "picture1" "picture2" "picture3" "picture4" "picture5" "picture6";
    grid-template-rows: auto;
}

.image > div:first-child {
  margin-top: 25px;
}
.image > div:last-child {
  margin-bottom: 25px;
}
.image > * {
    display: grid;
    background: #BADA55;
}

.picture1 {
  background-color: black;
  grid-area: picture1;
}

.picture2 {
  background-color: #f0e9b6;
  grid-area: picture2;
}
.picture3 {
  background-color: #b6f0cd;
  grid-area: picture3;
}
.picture4 {
  background-color: #b6f0eb;
  grid-area: picture4;
}
.picture5 {
  background-color: #b6c6f0;
  grid-area: picture5;
}
.picture6 {
  background-color: #cbb6f0;
  grid-area: picture6;
}

/*om mig side*/

.om {
  background-color: black;
  color: white;
  height: 95vh;
  grid-area: om;
}

h3 {
  font-size: 40px;
}

.omoverskrift {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.portrætvideo {
  margin: 5%;
}

.omtekst {
  text-align: center;
  margin: 30px;
}
/*kontakt*/
.kontakt {
  background-color: #282824;
  grid-area: kontakt;
  }


/*footer*/

footer {
  background-color: #e9e0fd;
  grid-area: footer;
}

/*tablet*/
@media screen and  (min-width:600px) {

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr 1fr 0.1fr;

  }

  header li{
    float:left;
  }
  header li a{
    padding:20px 30px;
    font-size: 15px;
  }

  header .menu{
    clear:none;
    float:left;
    max-height:none;
  }

  header .menu-icon{
    display: none;

  }

  #logo {
  max-width: 10%;
  }

  main {
    background: url("../billeder/fototiltablet.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position:right bottom;
    background-color: black;
  }


  .landing-text {
  color: white;
  text-align: left;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  }


  h1 {
  font-size: 80px;
  }

  h6 {
  font-size: 40px;
  }

  #btn {
    width: 200px;
    margin-left: 30px;
    font-size: 15px;

  }

  #btn:hover {
  font-size: 20px;
  }





  /*indhold*/

  .image {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "picture1 picture2" "picture3 picture4" "picture5 picture6";
  }
  .image > div:first-child {
    margin-top: unset;
  }
  .image > div:last-child {
    margin-bottom: unset;
  }
  }

  /*website*/
  @media screen and (min-width:992px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../billeder/fototilforside.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position:right bottom;
    background-color: black;
    grid-area: main;
  }


  /*navigation*/
  header li a{
    padding:20px 30px;
    font-size: 20px;
  }


  /*forside*/

  .landing-text > h1 {
    padding-bottom: 3px;
  }

  .landing-text {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 100px;
  }

  h6 {
    font-size: 30px;
  }


  #btn {
    width: 200px;
    margin-left: 30px;
    font-size: 15px;

  }

  #btn:hover {
  font-size: 20px;
  }

  /*indhold*/

  .image {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "picture1 picture2 picture3"
    "picture4 picture5 picture6";
  }

  .image > div {
    position:relative;

  }

  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    visibility: visible;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .1s, visibility .1s;
  }

  .image > div:hover .img__description_layer {
  visibility:hidden;
  }
  .image > div:hover{
  cursor: pointer;
  font-size:
  }

  .img__description {
  transition: .2s;
  transform: translateY(1em);
  }

  .picture1:hover .img__description {
  transition: .2s ease-out;
  transform: translateY(0);
  }


  }
